*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(223, 223, 223);
}

h1 {
    font-size: 2rem;
    margin: 0.5rem;
}

.header {
    display: flex;
    margin-bottom: 0.25rem;
    justify-content: space-around;
}

.content {
    padding: inherit;
    height: auto;
    margin: 1rem 1rem;
    border-radius: 1rem;
    background-color: #fff;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
}

.pagination button{
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border: none;
    border-radius: 0.5rem;
    background-color:rgb(182, 182, 249);
    color: #fff;
    cursor: pointer;
}